.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    position: absolute;
    top: 70px;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
}

.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Lato';
    font-size: 17px;
    font-weight: bold;
}

.creditCardForm .heading h1 {
text-align: center;
    font-family: 'Lato';
    font-size: 30px;
    font-weight: bold;
}

.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 5px;
    position: relative;
}

.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}

.creditCardForm .payment .form-control {
    padding: 0 16px;
    font-family: Lato;
    font-size: 22px;
    line-height: 1.2;
    color: #000000 !important;
    display: block;
    width: 100%;
    background: #ffffff;
    height: 45px;
    border-radius: 3px;
}

.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}

.creditCardForm .CVV {
    width: 35%;
}

.creditCardForm #card-number-field {
    width: 100%;
}

.creditCardForm #expiration-date {
    width: 49%;
}

.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}

.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}

.creditCardForm .payment .btn {
    font-family: 'Lato';
    line-height: 1.5;
    color: #000;
    font-weight: bold;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background: #ffc300;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
    font-size: 22px;
}

.creditCardForm .payment select {
    margin-right: 0px;
    padding: 0 16px;
    font-family: Lato;
    font-size: 19px;
    line-height: 1.2;
    color: #000000 !important;
    background: #ffffff;
    border-radius: 3px;
    height: 50px;
}

.transparent {
    opacity: 0.2;
}

@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}


/*  Examples Section */

.examples {
    max-width: 700px;
    background-color: #fff;
    margin: 0 auto 75px;
    padding: 30px 50px;
    color: #4c4e56;
}

.examples-note{
    text-align: center;
    font-size: 14px;
    max-width: 370px;
    margin: 0 auto 40px;
    line-height: 1.7;
    color: #7a7a7a;
}

.examples table {
    margin: 5px 0 0 0;
    font-size: 14px;
}

.popup-simple{
    margin: auto;
    background-color: #333333;
    position: relative;
    padding: 0;
    outline: 0;
    /* width: 80%; */
    height: 100%;
    /* margin-top: 10%; */
    /* max-height: 845px; */
    border-radius: 2px;
}

.popup-header-simple {
    font-family: 'Lato';
    font-weight: 1000;
    color: #ffffff;
    /* padding-top: 30px; */
    font-size: 35px;
    max-width: 100%;
    /*  */
    text-align: center;
    word-wrap: break-word;
    margin-top: 10%;
}


.popup-subheader-simple {
    font-family: 'Lato';
    font-weight: normal;
    color: #ffffff;
    padding-top: 20px;
    font-size: 25px;
    max-width: 100%;
    /*  */
    text-align: center;
    word-wrap: break-word;
    margin-top: -4%;
}

.modal-header {
    padding: 15px;
    border-bottom: none !important;
    text-align: center;
}


.action--close {
    position: absolute;
    /* overflow: hidden; */
    top: 7;
    right: 7;
    font-size: 1.5em;
    color: #ddd;
    pointer-events: visible;
    -webkit-transition: opacity 0.3s, background 0.2s;
    transition: opacity 0.3s, background 0.2s;
}

.view--compare + .compare .action--close {
    pointer-events: auto;
    opacity: 1;
    -webkit-transition-delay: 0.4s, 0s;
    transition-delay: 0.4s, 0s;
}

.action--close:hover,
.action--close:focus {
    color: #797BED;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 100%;
    border-radius: 4px;
    height: 10px;
    /* margin-top: 100px; */
    position: relative;
    /* margin-left: 20px; */
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 10px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #ffc300;
    margin-top: -10px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.slider{margin-left: 20px;margin-right: 60px;text-align: center;margin-top: 10px;}


.slider_value{
    color: white;
    margin-top: 5px;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Lato';
    margin-left: 35px;
    margin-bottom: 30px;
}