<html lang="en">
<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../styles/mobile.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../styles/colors.css">
  <link rel="stylesheet" type="text/css" href="../styles/creditcard/styles.css">
  <link rel="stylesheet" type="text/css" href="../styles/environment.css">
    <link rel="stylesheet" type="text/css" href="../styles/skilltree.css">
  <link rel="stylesheet" type="text/css" href="../styles/loader.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  
</head>


<style type="text/css">
body {
  position: relative;
  background: white;
}

</style>

<body style="min-height: 250px !important">

  <!--HEADER-->
  <header class="w3-top w3-bar w3-theme main-background-color-app">
    <img src="../images/logo.png" class="logo2">
    <a class="fas fa-angle-left fa-2x top-left secondary-color-app" href="demoEnvironments.html"></a>
    <div class="loader hide">
      <div class="loader__ball hide"></div>
    </div>
  </header>

<div class="container-fluid">
<p class="tiers"><span>ENVIRONMENT INFO</span>
 </div>

<form role="form" style="margin-top:10px;margin-left: 15px;margin-right: 15px;">
  <div class="form-group">
    <label for="exampleInputEmail1">Environment Prefix</label>
    <div style="display: inline-flex;">
      <span style="    font-size: 17px;font-style: italic;margin-right: 4px;margin-top: 5px;color: #9c9c9c;">https://</span>
      <input style="width: 50%" type="email" class="form-control" placeholder="eg: adc4-zevg-fa-ext"></input>
      <span style="font-size: 17px;font-style: italic;margin-top: 5px;color: #9c9c9c;">.oracledemos.com</span>
    </div>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Admin User Login</label>
      <input style="width: 80%" type="text" placeholder="eg: george.grant" class="form-control"></input>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Admin User Password</label>
      <input style="width: 80%" type="text" placeholder="eg: pjv12345" class="form-control"></input>
  </div>
<button class="button-voucher-activate3">Submit</button>
</form>


    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../scripts/apis.js"></script>
    <script src="../scripts/environment.js"></script>
  </body>
  </html>


