<html lang="en">
<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Blueprint: A responsive product grid layout with touch-friendly Flickity galleries and Isotope-powered filter functionality." />
  <meta name="keywords" content="blueprint, template, layout, grid, responsive, products, store, filter, isotope, flickity" />

  <!-- CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../styles/skilltree.css">
  <link rel="stylesheet" type="text/css" href="../styles/mobile.css">
  <link rel="stylesheet" type="text/css" href="../styles/environment.css">
  <link rel="stylesheet" type="text/css" href="../styles/colors.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../styles/cards.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
</head>
<body style="height: auto;">

<!--HEADER-->
  <header class="w3-top w3-bar w3-theme main-background-color-app" style="position: fixed !important;">
    <img src="../images/logo.png" class="logo2">
  </header>

<div class="serviceDetailsContent">
    
<div class="entity_detail abcs-component-entitydetail" id="abcs-page-top" data-view-id="abcs-page-top" data-component-type="entity-detail">
<div class="abcs-grid-row oj-flex oj-flex-items-pad"><div class="abcs-page-header-component abcs-component-pageheader abcs-grid-cell oj-flex-item oj-md-12 oj-sm-12" id="page-header-2127888215" data-view-id="page-header-2127888215" data-component-type="page-header"><div data-bind="visible: $root.Observables.com_oracle_css_knowledgeBOP_AnswerEntityDetailArchetype.loadingInProgress()" class="abcs-page-progressbar abcs-component-pageprogressbar" data-view-id="page-progress-bar-573075225" data-component-type="page-progress-bar" style="display: none;">
    <div class="abcs-page-progressbar-bar"><div class="abcs-page-progressbar-carrige"></div></div>
</div><div class="row"><div id="title--941771576" data-view-id="title--941771576" data-component-type="title" class="abcs-component-title title">
    <h1 id="title--941771576-header" data-bind="text: ''"></h1>
</div><div data-bind="ojComponent: {component:'ojToolbar'}" id="button-toolbar--2037656820" data-view-id="button-toolbar--2037656820" data-component-type="button-toolbar" class="abcs-component-buttontoolbar oj-toolbar oj-component oj-component-initnode" data-oj-container="ojToolbar" role="toolbar"><div id="button-136114128" data-view-id="button-136114128" data-component-type="button" class="abcs-component-button"><button type="button" data-bind="ojComponent:{component:'ojButton',label:AbcsLib.i18n('pages.com_oracle_css_knowledgeBOP_AnswerPage.button-136114128.displayName'),icons:{},display:'all',disabled:false,chroming:'full'},click:function(data, event) {
    this.fireEvent('Done_button_830299243click', $(event.currentTarget));
    AbcsLib.UI.disableButtonWhileBusy($(event.currentTarget), this.Flags.busy);
}.bind($root)" class="abcs-fill oj-button-jqui oj-button oj-component oj-enabled oj-default oj-button-text-only oj-component-initnode oj-button-full-chrome" id="button-136114128-btn" aria-labelledby="ui-id-56" tabindex="0"><div class="oj-button-label"><span class="oj-button-text" id="ui-id-56">Done</span></div></button>
</div></div></div></div></div><div class="abcs-grid-row oj-flex oj-flex-items-pad"><div id="pair-1055606617" class="oj-form abcs-sm-flex-direction-column abcs-vertical-align-top abcs-pair-inputFieldText abcs-component-pair abcs-grid-cell oj-flex-item oj-md-6 oj-sm-12" data-view-id="pair-1055606617" data-component-type="pair"><div class="abcs-pair-label abcs-component-pairlabel" id="pairLabel-2064209272" data-view-id="pairLabel-2064209272" data-component-type="pairLabel">
    <div class="oj-label oj-component oj-inputtext-label oj-label-inline"><div class="oj-label-group"><label class="oj-component-initnode" for="pair-1055606617-Input" data-bind="text: AbcsLib.i18n('pages.com_oracle_css_knowledgeBOP_AnswerPage.pair-1055606617.label')" id="pair-1055606617-Label">Document Identifier</label></div></div>
</div><div data-bind="with: $root.Observables.com_oracle_css_knowledgeBOP_AnswerEntityDetailArchetype.item" id="inputFieldText-1075043306" data-view-id="inputFieldText-1075043306" data-component-type="inputFieldText" class="abcs-component-inputfieldtext abcs-flex-1">
</div></div></div><div class="abcs-grid-row oj-flex oj-flex-items-pad"><div data-view-id="knowledgeContent-1661033107" data-component-type="knowledgeContent" class="abcs-component-knowledgecontent abcs-grid-cell oj-flex-item oj-md-12 oj-sm-12"><div class="entity_detail abcs-component-entitydetail" id="grid-1922851487" data-view-id="grid-1922851487" data-component-type="entity-detail">
<div class="abcs-grid-row oj-flex oj-flex-items-pad"><div data-bind="with: $root.Observables.com_oracle_css_knowledgeBOP_AnswerEntityDetailArchetype.item" data-view-id="knowledgeContentHtmlViewer-904525200" data-component-type="knowledgeContentHtmlViewer" class="abcs-component-knowledgecontenthtmlviewer abcs-grid-cell oj-flex-item oj-md-12 oj-sm-12">
    <div data-bind="html: contentBody()"><b>Summary</b><br>Grupo Familiar<br><br><b>Question</b><br>Como funciona o Grupo Familiar?<br><br><b>Answer</b><br><div id="content"> 
 <h1 id="howto-title" class="serviceDetailsTitle" itemprop="headline">Configurar o Compartilhamento Familiar</h1> 
 <div class="intro"> 
  <p>Siga as etapas abaixo para configurar o Compartilhamento Familiar. Você pode iniciar um novo grupo familiar e convidar pessoas ou participar do grupo familiar de outra pessoa.&nbsp;</p> 
 </div> 
 <div itemprop="author" itemscope="" itemtype="http://schema.org/Organization">
  <meta itemprop="name" content="Apple">
 </div> 
 <div id="sections" itemprop="articleBody"> 
  <div class="hero"> 
   <div class="extra-react-div"> 
   </div> 
  </div> 
  <div> 
   <div class="extra-react-div"> 
    <p>Com o <a href="https://support.apple.com/pt-br/HT201060">Compartilhamento Familiar</a>, até seis pessoas da família podem compartilhar os pontos adquiridos no aplicativo, sem precisar compartilhar as contas. Quando o organizador da família ativa o compartilhamento, todos os pontos ganhos pelos usuário do grupo são colocado em uma conta única e cada usuário pode resgatar benefícios e muito mais para que todos sempre fiquem por dentro de tudo.</p> 
   </div> 
  </div> 
  <div> 
   <h2>Introdução</h2> 
   <div class="extra-react-div"> 
    <p>Você só pode fazer parte de um grupo familiar por vez. Veja o que é necessário para configurar&nbsp;o Compartilhamento Familiar:</p> 
    <ul> 
     <li>Ter uma conta Bitz</li> 
     <li>Ter o aplicativo instalado</li> 
    </ul> 
   </div> 
  </div> 
  <div id="start"> 
   <h2>Iniciar um grupo familiar</h2> 
   <div class="extra-react-div"> 
    <p>Um adulto da família, o organizador da família, pode configurar o Compartilhamento Familiar para o grupo usando o aplicativo. Ao configurar o Compartilhamento Familiar, confirme se concorda em pagar as compras iniciadas pelos familiares que você convidar e se há um método de pagamento válido já registrado. Os <a href="https://support.apple.com/pt-br/HT202631">métodos de pagamento&nbsp;válidos</a>&nbsp;para configurar o Compartilhamento Familiar incluem cartões de crédito e de débito.*&nbsp;</p> 
    <p><strong>No iPhone, iPad ou iPod&nbsp;touch:</strong></p> 
    <ol> 
     <li>Acesse Ajustes &gt; [seu nome]. Se o dispositivo tiver o iOS 10.2 ou anterior, acesse Ajustes &gt; iCloud.</li> 
     <li>Toque em Compartilhamento Familiar e em Comece a Usar. Siga as instruções na tela para configurar sua família e convidar familiares.<br> </li> 
     <li>Se estiver usando o iOS&nbsp;11 ou posterior, escolha o primeiro recurso que gostaria de compartilhar com a família. Depois, siga as instruções para convidar os familiares usando o iMessage.</li> 
    </ol> 
    <p><strong>No Mac:</strong></p> 
    <ol> 
     <li>Selecione o menu Apple () &gt; Preferências do Sistema e clique em iCloud.</li> 
     <li>Clique em Configurar Família.<br></li> 
     <li>Siga as instruções na tela.</li> 
    </ol> 
    <p>Após configurar o Compartilhamento Familiar, você poderá convidar os familiares.</p> 
   </div> 
   <div> 
    <h3>Convidar pessoas para entrar no grupo familiar</h3> 
    <div class="extra-react-div"> 
     <p>É possível adicionar à família qualquer pessoa que tenha um aplicativo Bitz, desde que você esteja usando o iOS 8&nbsp;ou posterior ou o OS X Yosemite ou posterior. Se tiver filhos, siga estas etapas&nbsp;<a href="https://support.apple.com/pt-br/HT201084">para criar o ID&nbsp;Apple deles e adicioná-los ao grupo</a>. Siga as etapas abaixo para adicionar alguém que já tem um aplicativo Bitz</p> 
     <p><strong>No iPhone, iPad ou iPod&nbsp;touch:</strong></p> 
     <ol> 
      <li>Acesse Ajustes &gt; [seu nome] &gt; Compartilhamento Familiar. Se o dispositivo tiver o iOS&nbsp;10.2 ou anterior, acesse Ajustes &gt; iCloud &gt; Família.</li> 
      <li>Toque em Adicionar Familiar.</li> 
      <li>Insira o nome ou o endereço de e-mail do familiar e siga as instruções na tela.</li> 
      <li>Se estiver usando o iOS&nbsp;11 ou posterior, decida se gostaria de enviar um convite pelo Mensagens ou convidar o familiar pessoalmente. Depois, siga as instruções na tela.</li> 
     </ol> 
     <p><strong>No Mac:</strong></p> 
     <ol> 
      <li>Selecione o menu Apple () &gt; Preferências do Sistema e clique em iCloud.</li> 
      <li>Clique em Gerenciar Família.</li> 
      <li>Clique em + e siga as instruções na tela.</li> 
     </ol> 
     <p>Se o familiar estiver com você, ele poderá inserir a senha do ID&nbsp;Apple dele em seu dispositivo para aceitar o convite. Ou você pode enviar um convite para ele, e ele poderá aceitá-lo no próprio dispositivo.&nbsp;Se tiver vários IDs&nbsp;Apple no iTunes, você poderá convidar cada uma das contas para o grupo para poder compartilhar as compras dos outros IDs&nbsp;Apple com a família.&nbsp;</p> 
    </div> 
   </div> 
   <div> 
    <h3>Ver se o familiar aceitou o convite</h3> 
    <div class="extra-react-div"> 
     <p>Depois de enviar o convite, você poderá verificar o status dele abaixo do nome da pessoa.</p> 
     <p><strong>No iPhone, iPad ou iPod&nbsp;touch:</strong><br> Acesse&nbsp;Ajustes &gt; [seu nome] &gt; Compartilhamento Familiar. Se o dispositivo tiver o iOS&nbsp;10.2 ou anterior, acesse Ajustes &gt; iCloud &gt; Família.&nbsp;</p> 
     <p><strong>No Mac:</strong><br> Selecione o menu Apple () &gt; Preferências do Sistema &gt; iCloud &gt; Gerenciar Família.&nbsp;</p> 
     <p>Em seguida, selecione o nome da pessoa para ver o status do convite. Selecione Reenviar Convite se for necessário reenviá-lo.</p> 
    </div> 
   </div> 
  </div> 
  <div> 
   <div class="extra-react-div"> 
    <p><br> <img alt=" " src="/library/content/dam/edam/applecare/images/en_US/mac_apps/itunes/divider.png"></p> 
   </div> 
  </div> 
  <div id="join"> 
   <h2>Entrar em um grupo familiar</h2> 
   <div class="extra-react-div"> 
    <p>Use seu dispositivo para aceitar ou recusar um convite para participar de um grupo familiar. Você receberá um convite por e-mail ou mensagem de texto. Depois, poderá responder diretamente pelo convite.&nbsp;Se perder o convite por e-mail ou mensagem, não há problema. Você poderá responder nos Ajustes ou Preferências do Sistema do dispositivo:</p> 
    <p><strong>No iPhone, iPad ou iPod&nbsp;touch:</strong><br> Acesse&nbsp;Ajustes &gt; [seu nome] &gt; Convites. Se o dispositivo tiver o iOS&nbsp;10.2 ou anterior, acesse Ajustes &gt; iCloud &gt; Convites.</p> 
    <p><strong>No Mac:&nbsp;</strong><br> Selecione o menu Apple () &gt; Preferências do Sistema &gt; iCloud &gt; Gerenciar Família.&nbsp;</p> 
    <p>Siga as instruções na tela para aceitar um convite.&nbsp;Ao entrar em um grupo familiar, você poderá ser solicitado a confirmar as informações da conta e optar por receber recursos ou serviços configurados pelo grupo.</p> 
    <p>Caso você não consiga aceitar o convite, veja se outra pessoa foi adicionada à família com seu ID&nbsp;Apple ou está&nbsp;<a href="https://support.apple.com/pt-br/HT201085">compartilhando conteúdo comprado</a>&nbsp;com seu ID&nbsp;Apple. Lembre-se: só é possível participar de um grupo familiar por vez e só é possível trocar de grupo familiar uma vez por ano.</p> 
   </div> 
  </div> 
  <div> 
   <div class="extra-react-div"> 
    <p><br> <img alt=" " src="/library/content/dam/edam/applecare/images/en_US/mac_apps/itunes/divider.png"></p> 
   </div> 
  </div> 
  <div id="share"> 
   <h2>Começar o compartilhamento</h2> 
   <div class="extra-react-div"> 
    <p>Os recursos do Compartilhamento Familiar são configurados nos dispositivos de todos os familiares que entram para o grupo. Você pode:</p> 
    <ul> 
     <li>Fazer download de&nbsp;<a href="https://support.apple.com/pt-br/HT203046">músicas, filmes, programas de TV, livros e apps qualificados</a> no iTunes, no Apple Books e na App&nbsp;Store.&nbsp;</li> 
     <li><a href="https://support.apple.com/pt-br/HT205595">Obter uma assinatura familiar do Apple&nbsp;Music</a> e convidar os familiares.&nbsp;</li> 
     <li>Compartilhar fotos e vídeos da família.&nbsp;Abra o app Fotos, toque em Família na aba Compartilhado e adicione o conteúdo que deseja compartilhar.</li> 
     <li>Usar o calendário familiar. Abra o app Calendário para adicionar, visualizar ou alterar eventos e lembretes no calendário familiar.</li> 
     <li><a href="https://support.apple.com/pt-br/HT201318">Compartilhar o plano de armazenamento do iCloud</a> para que todos tenham espaço suficiente para fotos, vídeos, documentos e muito mais.</li> 
     <li>Localizar os familiares com o app Buscar Amigos.&nbsp;<a href="https://support.apple.com/pt-br/HT201087">Decida quando compartilhar sua localização com os familiares</a>.</li> 
     <li>Ajudar a encontrar os dispositivos dos familiares usando o app Buscar iPhone.&nbsp;</li> 
     <li><a href="https://support.apple.com/pt-br/HT201084">Gerencie a conta de seu filho</a>,&nbsp;<a href="https://support.apple.com/pt-br/HT201089">ative o recurso "Pedir para comprar"</a> ou <a href="https://support.apple.com/pt-br/HT208982">use o Tempo de Uso com o Compartilhamento Familiar</a>. Crianças com menos de 13 anos<sup>**</sup> devem entrar em um grupo de Compartilhamento Familiar para usar o Game&nbsp;Center.</li> 
    </ul> 
    <p><span class="note">Se não quiser compartilhar o álbum de fotos da família, o calendário ou os lembretes, você poderá cancelá-los em seu dispositivo ou em&nbsp;<a data-analytics-link_type="simple link" href="https://www.icloud.com/">iCloud.com</a>.</span></p> 
   </div> 
  </div> 
  <div> 
   <div class="extra-react-div"> 
    <p><br> <img alt=" " src="/library/content/dam/edam/applecare/images/en_US/mac_apps/itunes/divider.png"></p> 
   </div> 
  </div> 
  <div> 
   <h2>Obter ajuda</h2> 
   <div class="extra-react-div"> 
    <ul> 
     <li>Obtenha ajuda&nbsp;<a href="https://support.apple.com/pt-br/HT201454">se não for possível ver o conteúdo compartilhado por seus familiares</a>. Para compartilhar conteúdo comprado, você precisa&nbsp;<a href="https://support.apple.com/pt-br/HT201085">ativar a opção "Compartilhar minhas compras"</a>&nbsp;e&nbsp;<a href="https://support.apple.com/pt-br/HT204447">usar a iTunes&nbsp;Store no mesmo país ou na mesma região</a>&nbsp;que seus familiares.</li> 
     <li><a href="https://support.apple.com/pt-br/HT201079">Saiba como as compras funcionam no Compartilhamento Familiar.</a></li> 
     <li>Saiba mais <a href="https://support.apple.com/pt-br/HT201060">sobre o Compartilhamento Familiar</a>.</li> 
    </ul> 
    <p>Para usar o Compartilhamento Familiar, é necessário iniciar uma sessão no iCloud e no iTunes usando um ID&nbsp;Apple pessoal. Se a família estiver com o compartilhamento de compras ativado, será possível fazer download de músicas, filmes, programas de TV e livros em até 10 dispositivos por conta, cinco dos quais podem ser computadores.&nbsp;É necessário ter o iOS&nbsp;8 ou o OS&nbsp;X&nbsp;Yosemite ou posterior para configurar ou fazer parte de um grupo de Compartilhamento Familiar.&nbsp;<a href="https://support.apple.com/pt-br/HT203046">Nem todo conteúdo pode ser compartilhado</a>.&nbsp;O conteúdo pode ser ocultado pelos familiares e não ficará disponível para download. Conteúdo obtido dos familiares por download ou adquirido por meio de códigos de resgate não está sujeito ao recurso Pedir para comprar.</p> 
    <p><span class="note">* As formas de pagamento aceitas variam de acordo com o país ou a região.<br> ** A idade varia de acordo com o país ou a região.</span></p> 
   </div> 
  </div> 
 </div> 
 <div class="mod-date">
  <span>Data da publicação:</span>&nbsp;
  <time datetime="2018-10-01" itemprop="datePublished">30 de setembro de 2018</time>
 </div> 
</div><br><br></div>
</div></div></div></div></div></div>

</div>
<!--MENU INFERIOR-->
<div class="navbar secondary-background-color-app">
  <a href="voucher.html" class="fa fa-home menu-icon"></a>
  <a href="skilltree.html" class="fa fa-trophy menu-icon"></a>
  <a href="products.html" class="fa fa-shopping-cart menu-icon"></a>
  <a href="service.html" class="fas fa-question menu-icon"></a>
  <a href="profile.html" class="fas fa-user menu-icon"></a>
</div>


<script type="text/javascript" src="../scripts/apis.js"></script>
<script type="text/javascript" src="../scripts/environment.js"></script>

</body>


</html>


