<html lang="en">
<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Blueprint: A responsive product grid layout with touch-friendly Flickity galleries and Isotope-powered filter functionality." />
  <meta name="keywords" content="blueprint, template, layout, grid, responsive, products, store, filter, isotope, flickity" />

  <!-- CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="../styles/mobile.css">
  <link rel="stylesheet" type="text/css" href="../styles/environment.css">
  <link rel="stylesheet" type="text/css" href="../styles/colors.css">
  <link rel="stylesheet" type="text/css" href="../styles/slider.css" />
  <link rel="stylesheet" type="text/css" href="../styles/cards.css">
  <link rel="stylesheet" type="text/css" href="../styles/skilltree.css">
</head>

<body class="" style="height: auto;;">

  <!--HEADER-->
  <header class="w3-top w3-bar w3-theme main-background-color-app">
    <img src="../images/logo.png" class="logo2">
    <a class="fas fa-bell fa-3x cart secondary-color-app"></a>
    <p class="notifications hide">0</p>
  </header>


  <!-- CHECK LOGIN POP UP-->
  <div id="popupError" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="modal-voucher-header"> 
        <h1 id="prod-header" class="popup-error-header"></h1>
      </header>
      <div class="modal-voucher-middle">
        <img id="prod-img" src="../images/notFound.jpg" class="popup-error-product">
        <h2 id="prod-title" class="popup-error-title"></h2>
        <p id="prod-desc" class="popup-error-desc"></p>
      </div>
      <footer class="modal-voucher-footer">
        <button onclick= "location.href = '../index.html'" class="button-voucher-activate3">Ok</button>
      </footer>
    </div>
  </div>
</div>

<div class="w3-container">
  <!-- PUSH -->
  <div id="push" onclick="location.href = 'prepaid.html'" class="push hide">
    <img class="push_image" src="../images/logo.png">
    <p class="push_title">Petz App</p>
    <p class="push_text">Recarregue o cartão e ganhe 15% de deconto na sua próxima compra!</p>
    <p class="push_time">23:37</p>
  </div>

  <!--SLIDER-->
  <div id="cbp-fwslider" class="cbp-fwslider">
    <ul>
      <li ><a href="#"><img class="banner-img" src="" alt="img01"/></a></li>
      <li ><a href="#"><img class="banner-img" src="" alt="img02"/></a></li>
    </ul>
  </div>

  <!-- PROFILE CARD -->
  <div id="profileCard" class="w3-cell-row">
    <a href="profile.html">
      <div class="card card--small--profile">
        <div class="card-prof-column-1">
          <svg class="progress-ring" width="120" height="120">
            <circle class="progress-ring__circle" stroke="#FFD833" stroke-width="6" fill="transparent" r="52" cx="60" cy="60"/>
            <image class="profile-img" xlink:href="../images/denis.png" clip-path="url(.progress-ring__circle)" />
          </svg>
        </div>
        <div class="card-prof-column-2">
          <div class="profile-points">--</div>
          <div class="profile-points-label">Pontos</div>
        </div>
        <div class="card-prof-column-3"> 
          <div class="profile-level">--</div>
          <div class="profile-level-label">Nível</div>
        </div>
        <div class="card-prof-column-4"> 
          <div class="profile-badges">
            <div class="badges-profile">

              <a id="voucher-1-1" data-test="red skill-tree-link" class="icon_column hide">
               <span id="" class="mission_adj_profile icon_adj_profile color_yellow2 baby">
               </span>
             </a>
             <a id="voucher-1-2" data-test="blue skill-tree-link" class="icon_column hide">
               <span id="" class="mission_adj_profile icon_adj_profile color_yellow2 friend">
               </span>
             </a>
             <a id="voucher-2-1" data-test="red skill-tree-link" class="icon_column hide">
               <span id="" class="mission_adj_profile icon_adj_profile color_yellow2 collaboration">
               </span>
             </a>
             <a id="voucher-2-1" data-test="green skill-tree-link" class="icon_column hide">
               <span id="" class="mission_adj_profile icon_adj_profile color_yellow2 congrats">
               </span>
             </a>
             <a id="voucher-2-2" data-test="blue skill-tree-link" class="icon_column hide">
               <span id="" class="mission_adj_profile icon_adj_profile color_yellow2 diferent">
               </span>
             </a>
             <a id="voucher-2-3" data-test="green skill-tree-link" class="icon_column hide">
               <span id="" class="mission_adj_profile icon_adj_profile color_yellow2 family">
               </span>
             </a>
             <a id="voucher-3-1" data-test="red skill-tree-link" class="icon_column hide">
               <span id="" class="mission_adj_profile icon_adj_profile color_yellow2 decoration">
               </span>
             </a>
             <a id="voucher-3-2" data-test="blue skill-tree-link" class="icon_column hide">
               <span id="" class="mission_adj_profile icon_adj_profile color_yellow2 popular">
               </span>
             </a>
             <a id="voucher-3-3" data-test="green skill-tree-link" class="icon_column hide">
               <span id="" class="mission_adj_profile icon_adj_profile color_yellow2 hiker">
               </span>
             </a>
             <a id="voucher-3-4" data-test="green skill-tree-link" class="icon_column hide">
               <span id="" class="mission_adj_profile icon_adj_profile color_yellow2 paodeacucar">
               </span>
             </a>
             <a id="voucher-4-1" data-test="red skill-tree-link" class="icon_column hide">
               <span id="" class="mission_adj_profile icon_adj_profile color_yellow2 giver">
               </span>
             </a>
             <a id="voucher-4-2" data-test="blue skill-tree-link" class="icon_column hide">
               <span id="" class="mission_adj_profile icon_adj_profile color_yellow2 service">
               </span>
             </a>
             <a id="voucher-4-3" data-test="green skill-tree-link" class="icon_column hide">
               <span id="" class="mission_adj_profile icon_adj_profile color_yellow2 expert">
               </span>
               <span class="mission_text" style="">Expert</span>
             </a>

           </div>
         </div>
         <div class="profile-badges-label"></div>
       </div>

     </div>
   </a>
 </div>

 <!--CARDS RECOMENDADO-->
 <div id="cardNBO1" class="w3-cell-row NBO hide">
  <a href="products.html">
    <div class="card card--small" id="card_bigtasty">
      <img src= "../images/products/voucherNespresso.png" class="card__image"></img>
      <div class="card__content">
        <h2 class="card__title">Recomendação para você!</h2>
        <span class="card__subtitle main-color-app">Clique para obter mais informações!</span>
        <p class="card__text" style="color: green;">Que tal um cafézinho? Prove um de nossos cafés deliciosos Nespresso?.</p>
      </div>
      <div class="card__action-bar">
        <button class="fas fa-chevron-right" style="float: right; font-size: 20px; color: gray;"></button>   
      </div>
    </div>
  </a>
</div>

<div id="cardNBO6" class="w3-cell-row NBO hide">
  <a href="skilltree.html">
    <div class="card card--small" id="card_invite">
      <img src= "../images/products/NBO/inviteFriend.png" class="card__image"></img>
      <div class="card__content">
        <h2 class="card__title">Convide um Amigo!</h2>
        <span class="card__subtitle main-color-app">Clique para obter mais informações!</span>
        <p class="card__text" style="color: green;">Já pensou em chamar um amigo para o Programa?</p>
      </div>
      <div class="card__action-bar">
        <button class="fas fa-chevron-right" style="float: right; font-size: 20px; color: gray;"></button>   
      </div>
    </div>
  </a>
</div>

<div id="cardNBO7" class="w3-cell-row NBO hide">
  <a href="transferPoints.html">
    <div class="card card--small" id="card_bigtasty">
      <img src= "../images/products/NBO/transfer.png" class="card__image"></img>
      <div class="card__content">
        <h2 class="card__title">Transfira Pontos!</h2>
        <span class="card__subtitle main-color-app">Clique para obter mais informações!</span>
        <p class="card__text" style="color: green;">Você sabia que pode transferir pontos para seu amigo?</p>
      </div>
      <div class="card__action-bar">
        <button class="fas fa-chevron-right" style="float: right; font-size: 20px; color: gray;"></button>   
      </div>
    </div>
  </a>
</div>


<div id="creditcardNBO" class="w3-cell-row NBO hide">
  <a href="skilltree.html">
    <div href="skilltree.html" class="card card--small" id="card_creditcard">
      <img src= "../images/products/NBO/casal.png" class="card__image"></img>
      <div class="card__content">
        <h2 class="card__title">Missão Recomendada!</h2>
        <span class="card__subtitle main-color-app">Clique aqui para adicionar um familiar!</span>
        <p class="card__text" style="color: green;">Adicione alguém da sua família e ganhe 5 pontos!</p>
      </div>
      <div class="card__action-bar">
        <button class="fas fa-chevron-right" style="float: right; font-size: 20px; color: gray;"></button>   
      </div>
    </div>  
  </a>  
</div>

<div id="lojaNBO" class="w3-cell-row NBO hide">
  <a href="searchplaces.html">
    <div href="searchplaces.html" class="card card--small" id="card_creditcard">
      <img src= "../images/products/NBO/map.png" class="card__image"></img>
      <div class="card__content">
        <h2 class="card__title">Caça ao Tesouro!</h2>
        <span class="card__subtitle main-color-app">Cliqui aqui para ver as lojas!</span>
        <p class="card__text" style="color: green;">Troque seu desconto nas lojas recomendadas e ganhe pontos!</p>
      </div>
      <div class="card__action-bar">
        <button class="fas fa-chevron-right" style="float: right; font-size: 20px; color: gray;"></button>   
      </div>
    </div>  
  </a>  
</div>

<div id="surveyNBO" class="w3-cell-row NBO hide">
  <a href="survey.html">
    <div href="survey.html" class="card card--small" id="card_creditcard">
      <img src= "../images/products/NBO/pesquisa.jpg" class="card__image"></img>
      <div class="card__content">
        <h2 class="card__title">Pesquisa Disponível!</h2>
        <span class="card__subtitle main-color-app">Cliqui aqui para ver as lojas!</span>
        <p class="card__text" style="color: green;">Conte para nós como foi sua visita à loja e ganhe pontos!</p>
      </div>
      <div class="card__action-bar">
        <button class="fas fa-chevron-right" style="float: right; font-size: 20px; color: gray;"></button>   
      </div>
    </div>  
  </a>  
</div>

<!--CATEGORIAS-->
<div class="card_line">
  <div class="card-content">
    <div class="card_column">
      <a href="products.html" class="fa fa-ticket-alt fa-4x card-icon"></a>
      <h2 class="card-titulo main-color-app">Prêmios</h2>
    </div>
    <div class="card_column">
      <a href="household.html" class="fa fa-users fa-4x card-icon"></a>
      <h2 class="card-titulo main-color-app">Família</h2>
    </div>

    <div class="card_column">
      <a href="transferPoints.html" class="fa fa-arrow-right fa-4x card-icon"></a>
      <h2 class="card-titulo main-color-app">Doe Pontos</h2>
    </div>
  </div>
</div>
</div>

<!--MENU INFERIOR-->
<div class="navbar secondary-background-color-app">
  <a href="voucher.html" class="fa fa-home menu-icon"></a>
  <a href="skilltree.html" class="fa fa-trophy menu-icon"></a>
  <a href="products.html" class="fa fa-shopping-cart menu-icon"></a>
  <a href="service.html" class="fas fa-question menu-icon"></a>
  <a href="profile.html" class="fas fa-user menu-icon"></a>
</div>



<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../scripts/modernizr.custom.js"></script>
<script src="../scripts/jquery.cbpFWSlider.min.js"></script>
<script>$( function() {$('#cbp-fwslider').cbpFWSlider();});</script>
<script src="../scripts/apis.js"></script>
<script src="../scripts/environment.js"></script>


<script type="text/javascript">

  getMember().then(function(response){


    /*ATUALIZA AS MEDALHAS*/
    //Insere os IDs das medalhas do arquivo environment.js no HTML
    inputID("icon_column");

    //Varre o HTML e esconde ou brilha as medalhas corretas
    $.each($(".icon_column"), function(index, value){
      getMember().then(function(res){
        if(eval("res."+value.id) == 1){
          value.classList.remove("hide");
          value.style.color = "#5C5346";
        }
      })
    })


    /*CARDS DE RECOMENDAÇÃO*/
    console.log(response);
    if(eval("response."+NBO) == 1){$("#cardNBO1").removeClass("hide")}
    if(eval("response."+NBO) == 6){$("#cardNBO6").removeClass("hide")}
    if(eval("response."+NBO) == 7){$("#cardNBO7").removeClass("hide")}
    if(eval("response."+NBO) == 2){$("#creditcardNBO").removeClass("hide")}
    if(eval("response."+NBO) == 4){$("#lojaNBO").removeClass("hide")}
    if(eval("response."+NBO) == 5){$("#surveyNBO").removeClass("hide")}



    /*PUSH DE INDICAÇÃO DE AMIGO*/
    if(response.Badge_Convide_Amigo_c > 0){
      //Guarda 1 nas notifications, caso ele não tenha clicado no push ainda//
      //0 - recebeu; 1 - recebeu, mas não clicou; 2 - clicou//
      if(localStorage.getItem('PushTransferPoints') != 2){
        $('.push').find('.push_title').text('OraCoalition');
        $('.push').find('.push_text').text('Seu amigo precisa de você! Doe pontos para ele e faça uma boa ação!');
        $('.push').attr('onclick', 'transferPoints.html')
        localStorage.setItem('PushTransferPoints', "1");
        $(".notifications").html(localStorage.getItem('PushTransferPoints'));
      }
    }
    if(localStorage.getItem('PushTransferPoints') == 2){hideshowByClass("notifications", "show")}

    /*NÍVEL E PONTOS*/
    document.getElementsByClassName("profile-points")[0].innerHTML = response.PointTypeAVal;
    document.getElementsByClassName("profile-level")[0].innerHTML = response.TierName;
    if(response.TierName == null){document.getElementsByClassName("profile-level")[0].innerHTML = "INICIANTE";}

  })

  /*Level Progress Bar*/
  getMemberBalance().then(function(res){
    console.log(res);
    setProgress(100*parseInt(res.items[0].Qualifyingbalance)/40);
  });


  $("#push").click(function(){localStorage.setItem('PushTransferPoints', "2")})
  $(".fa-bell").click(function(){
    location.href = "transferPoints.html";
    localStorage.setItem('PushTransferPoints', "2");
  })

//Calculates hour for Push
var d = new Date();
if(d.getHours() < 10){
  var hour = "0" + d.getHours().toString() + ":" + d.getMinutes().toString();
}else{
  var hour = d.getHours().toString() + ":" + d.getMinutes().toString();
}

$(".push_time").html(hour);

//Circular Progress Bar
var circle = document.querySelector('circle');
var radius = circle.r.baseVal.value;
var circumference = radius * 2 * Math.PI;

circle.style.strokeDasharray = `${circumference} ${circumference}`;
circle.style.strokeDashoffset = `${circumference}`;

//USAR O SETPROGRESS PARA APARECER
function setProgress(percent) {
  const offset = circumference - percent / 100 * circumference;
  circle.style.strokeDashoffset = offset;
}

</script>


<!-- Coloca as imagens do OCC no Banner-->

<!-- Anti-CORS -->
<!-- <script type="text/javascript">
  $.each($(".banner-img"), function(index,value){
    value.src = getBannerJSON.category.categoryImages[index].url;
  })
</script> -->


<!-- Banner do OCC -->
<script type="text/javascript">
/*getOCCProductsFromCollection('destaques').then(function(res){
 $.each($('.banner-img'), function(index,value){
  value.src = 'https://ucf4-occ0077-occ.oracledemos.com/'+res.items[index].mediumImageURLs[0];
  })
})*/

getOCCProductsFromCollection('destaques').then(function(res){
   $.each($('.banner-img'), function(index,value){
    console.log(res.items)
    value.src = 'https://ucf4-occ0040-occ.oracledemos.com'+res.items[index].primaryMediumImageURL;
  })
})

</script>

</body>
</html>


