<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../styles/mobile.css">
	<link rel="stylesheet" href="../../styles/colors.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
</head>
<body>

<nav class="w3-sidebar w3-bar-block w3-card" id="mySidebar">
<div class="w3-container w3-theme-d2 bguser">
  <span onclick="closeSidebar()" class="w3-button w3-display-topright w3-large">X</span>
  <br>
  <div class="">
    <img class="w3-circle done" src="../../images/user.png" alt="avatar">
  </div>
</div>
<a class="w3-bar-item w3-button" href="voucher.html">Início</a>
<a class="w3-bar-item w3-button" href="games.html">Games</a>
<a class="w3-bar-item w3-button" href="extrato.html">Extrato</a>
<a class="w3-bar-item w3-button" href="rating.html">Pesquisas</a>
<a class="w3-bar-item w3-button" href="cards.html">Especial</a>
</nav>

<header class="w3-top w3-bar w3-theme main-background-color-app">
  <button class="w3-bar-item w3-button w3-xxxlarge w3-hover-theme" onclick="openSidebar()">&#9776;</button>
  <h2 class="w3-bar-item">Extrato</h2>
    <img src="../../images/stmarche.png" class="logo" style="margin-top: -30px;">
</header>

<div class="w3-container extrato" style="margin-top:65px">
	<hr>
	<div class="w3-cell-row">
	  <div class="w3-cell cell-type" style="width:20%">
		<div class="quantity">
			<strong>50</strong>
			<span>Pontos</span>
		</div>
	  </div>
	  <div class="w3-cell w3-container w3-cell-top">
		<h4>Curtiu Página do Facebook</h4>
		<p>Realizado em 03/01/2018</p>
	  </div>
	  </div>
	  <hr>

	<div id="tpl" class="w3-cell-row hide">
	  <div class="w3-cell cell-type" style="width:20%">
		<div class="quantity">
			<strong>50</strong>
			<span>Pontos</span>
		</div>
	  </div>
	  <div class="w3-cell w3-container w3-cell-top">
		<h4>Comentário do Facebook</h4>
		<p>Expira em 23/Dez</p>
	  </div>
	</div>  		
</div>

<footer class="w3-container w3-bottom w3-theme w3-margin-top">
  <h3 id="">Categoria <strong style="float: right; margin-right: 30px;" id="saldo"></strong> </h3>
</footer>


<script>
closeSidebar();
function openSidebar() {
    document.getElementById("mySidebar").style.display = "block";
}
function closeSidebar() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../../scripts/moment.min.js"> </script>
<script src="../../scripts/script.js"> </script>
<script src="../../scripts/extrato.js"> </script>
</body>
</html>


