.main-background-color-app{
	background: white !important;
}

.main-color-app{
	color: #5C5346 !important;
}

.secondary-background-color-app{
	background-color: white;
}

.secondary-color-app{
	color: #D81C1A !important;
}

.border-bottom-color{
	border-bottom-color: #D81C1A !important;
}