.main-background-color-app{
	background: #272727 !important;
}

.main-color-app{
	color: #5C5346 !important;
}

.secondary-background-color-app{
	background-color: #272727;
}

.secondary-color-app{
	color: #FFD833 !important;
}

.border-bottom-color{
	border-bottom-color: #FFD833 !important;
}