.svg-container {
    width: 100%;
    margin: 5% auto 0;
    margin-bottom: -80px;
}

#svg {
    width: 230px;
    height: 360px;
    margin: 0 auto;
    display: block;
}

#boy_shadow{
    fill: #B1B3B6;
}
#fire_1{
    fill: #F04E3E;
}
#fire_2{
    fill: #F89F65;
}
#helmet-main{
    fill: #EA0000;
}
#helmet-circle{
    fill: #AFAAA9;
}
#jumper-main{
    fill: #ffc300;
}
#jumper-ellipse{
    fill: #ea0000;
}

#pants-left{
    fill: #826AAF;
}
#pants-right{
    fill: #625083;
}

#rocket-girdle-left, #rocket-girdle-right, #helmet-girdle{
    fill: #996666;
}

#shoes-left, #shoes-right{
    fill: #000000;
}
